#search-container {
    width: 29em;
    margin: 1em;
}

#search-container .input-group-text {
    margin-right: -0.7em;
}

.search-span_error-message {
    margin-left: 1em;
    color: darkred;
    visibility: hidden;
    font-size: small;
}

#search-button {
    text-align: center;
    margin-top: 1em;
}

#search-span_error-message_main {
    margin-left: 1em;
    color: darkred;
    visibility: hidden;
    margin-top: 0.5em;
}

#data-table-container {
    margin: 1em;
}

#data-table_head {
    background-color: lightblue;
}

#data-table td {
    border-style: solid;
    border-width: 1px;
    padding: 0.3em;
}

#data-table tr:nth-of-type(2n+3) {
    background-color: aliceblue;
}