<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Тестовое задание</title>
    <script src="{{ url_for('static', filename='jquery-3.6.0.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.1.3-dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script>
        const URL_MAKE_REPORT = "{{ url_for('make_report') }}";
    </script>
</head>
<body>
<section id="search-container">
    <div class="row input-group">
        <span class="search-span_error-message">_</span>
        <div class="col-4 input-group-prepend">
            <span class="input-group-text" id="search-label_start-date">Дата старта</span>
        </div>
        <input id="search-input_start-date" type="date" name="start_date" class="col-auto form-control" required/>
    </div>
    <div class="row input-group">
        <span class="search-span_error-message">_</span>
        <div class="col-4 input-group-prepend">
            <span class="input-group-text" id="search-label_end-date">Дата конца</span>
        </div>
        <input id="search-input_end-date" type="date" name="end_date" class="col-auto form-control" required/>
    </div>
    <div class="row input-group">
        <span class="search-span_error-message">_</span>
        <div class="col-4 input-group-prepend">
            <span class="input-group-text" id="search-label_platform">Платформа</span>
        </div>
        <input id="search-input_platform" type="text" name="platform" class="col-auto form-control" required/>
    </div>
    <div class="row input-group">
        <span class="search-span_error-message">_</span>
        <div class="col-4 input-group-prepend">
            <span class="input-group-text" id="search-label_media-source">Источник</span>
        </div>
        <input id="search-input_media-source" type="text" name="media_source" class="col-auto form-control" required/>
    </div>
    <div class="row input-group">
        <span class="search-span_error-message">_</span>
        <div class="col-4 input-group-prepend">
            <span class="input-group-text" id="search-label_campaign">Кампания</span>
        </div>
        <input id="search-input_campaign" type="text" name="campaign" class="col-auto form-control"/>
    </div>
    <div id="search-button">
        <button class="btn btn-primary" type="button" onclick="make_report();">Составить</button>
    </div>
    <div id="search-span_error-message_main">_</div>
</section>
<section id="data-table-container">
    <table id="data-table">
        <tr id="data-table_head">
            <td>Кампания</td>
            <td>Кол-во установок</td>
            <td>Сумма покупок</td>
            <td>Сумма покупок, USD</td>
        </tr>
    </table>
</section>
</body>
</html>